# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore dnWalker.sln
    - name: Env
      run: |
        env | grep dotnet
        ls -Ral $DOTNET_ROOT
    - name: Build
      run: dotnet build --no-restore dnWalker.sln
    - name: Build examples (release mode)
      run: dotnet build Examples/Examples.csproj --configuration Release
    - name: Test
      run: dotnet test --no-build --logger trx --results-directory TestResults --verbosity normal dnWalker.sln
    - name: Upload dotnet test results
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-results
        path: TestResults
      if: ${{ always() }}
